.admin-layout {
  display: flex;
  width: 100%;
  overflow-y: auto; /* Tạo thanh cuộn dọc khi nội dung vượt ra ngoài */
}

.admin-layout__content {
  min-height: 100%;
  position: absolute;
  left: 220px;
  right: 0;
  transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
}

.admin-layout__main {
  flex: 1;
}
